.home {
  padding-bottom: 50px;
  .title {
    padding: 10px;
  }
  width: 550px;
  margin: auto;
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .home {
    font-size: 1.25rem;
    width: 100%;
  }
}
