@import "../../assets/styles/vars";
.loginScreen {
  height: 100%;
  width: 100vw;
}
.loginDiv {
  height: 300px;
  width: 350px;
  border-radius: 20px;
  box-shadow: $outerShadow2;
  background-color: $veryLightBlue;
  margin: 20vh auto;
  .loginBtn {
    margin: auto;
  }
}
.input {
  padding: 10px;
  height: 30px;
}
.formError {
  color: $red;
  font-size: 0.7rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .loginDiv {
    width: 90%;
  }
}
