.logoutDiv {
  .logoutBtn {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 70px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
  }
}
